@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/***************
variables
**************/
/***************
basic styles
**************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/***************
mixins
**************/
/***************
top bar
**************/
.topBar {
  padding: 20px 0;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topBar .logo {
  color: #3177b5;
  opacity: .8;
}

.topBar .logo span {
  font-style: italic;
  color: #33a5d7;
  font-weight: 800;
}

.topBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topBar ul a {
  font-size: 1.3rem;
  margin-left: 40px;
  background: #3177b5;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 1.3rem;
}

.topBar ul a:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
  background: #33a5d7;
  -webkit-box-shadow: 0 0 10px #a0a0a0;
          box-shadow: 0 0 10px #a0a0a0;
}

/***************
main Header
**************/
.mainHeader {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 119, 181, 0.7)), to(rgba(49, 119, 181, 0.7))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(49, 119, 181, 0.7), rgba(49, 119, 181, 0.7)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: #fff;
  padding-top: 20px;
}

.mainHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainHeader ul a {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 40px;
}

.mainHeader hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  margin: auto;
  width: 50%;
  text-align: center;
}

.mainHeader hgroup h1 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.mainHeader hgroup p {
  font-size: 1.1rem;
  margin-top: 10px;
  line-height: 1.5;
}

.mainHeader hgroup button {
  font-size: 1rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 10px 40px;
  border: 2px solid #fff;
  margin-top: 30px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader hgroup button:hover {
  background: #fff;
  color: #3177b5;
}

/***************
services
**************/
.services {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -100px;
}

.services article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  color: #fff;
  padding: 50px;
}

.services article i {
  font-size: 4rem;
  font-weight: 900;
}

.services article h3 {
  font-size: 2rem;
  margin: 20px 0;
}

.services article button {
  font-size: 1rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 10px 40px;
  border: 2px solid #fff;
  margin-top: 30px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.services article button:hover {
  background: #fff;
  color: #3177b5;
}

.services article:nth-child(odd) {
  background: #3177b5;
}

.services article:nth-child(even) {
  background: #33a5d7;
}

/***************
contact
**************/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0;
  color: #3177b5;
}

.contact article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact article h3 {
  font-size: 2rem;
}

.contact article h3::after {
  background: #3177b5;
  display: block;
  width: 50px;
  height: 3px;
  content: "";
  margin: 0 0 20px;
}

/***************
map
**************/
.map iframe {
  display: block;
}

/***************
footer
**************/
footer {
  background: #3177b5;
  text-align: center;
  color: #fff;
  padding: 20px;
}

footer a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */